<div class="vc_parallax">
    <div class="">
        <div style="padding-top:85px!important; padding-bottom:85px!important;">
            <div class="vc_row">
                <div class="vc_col-md-12">
                    <div class="vc_column-inner">
                        <div class="wpb_content_element">
                            <h1 style="text-align: center;">TESTIMONIALS</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style = "height: 320px">
            <div ng-if = "vm.testimonials.length > 0">
                <jqx-scroll-view jqx-width="vm.slideWidth" jqx-height="320" jqx-buttons-offset="[0, 0]" jqx-slide-show="vm.slideShow" jqx-slide-duration="10000" id="photoGallery">
                    <div ng-repeat="testimonial in vm.testimonials">
                        <div class="photo">
                            <div class="testimonial_text">
                                <p>{{testimonial.text}}</p>
                            </div>
                            <div class="testimonial_title">
                                <p>{{testimonial.title}}</p>
                            </div>
                        </div>
                    </div>
                </jqx-scroll-view>
            </div>
        </div>
    </div>
    <div class="vc_parallax-inner parallax testimonials-background"></div>
</div>