<div class="dark_scheme hgr_megafooter two">
	<div class="vc_row wpb_row vc_row-fluid vc_custom_1464183921581 vc_row-has-fill vc_general vc_parallax vc_parallax-content-moving">
		<div class="wpb_column vc_column_container vc_col-sm-12">
			<div class="vc_column-inner ">
				<div class="wpb_wrapper">
					<div class="vc_row wpb_row vc_inner vc_row-fluid">
						<div class="wpb_column vc_column_container vc_col-sm-3">
							<div class="vc_column-inner ">
								<div class="wpb_wrapper">
									<div class="wpb_text_column wpb_content_element ">
										<div class="wpb_wrapper">
											<h5><span style="color: #808080;">Legal</span></h5>
										</div>
									</div>
									<div class="wpb_text_column wpb_content_element  vc_custom_1464180138360">
										<div class="wpb_wrapper">
											<h6><a class="underline after first" style="color: #f5f5f5;" ui-sref="copyright" ng-click="vm.collapseNavbar()">Copyright</a></h6>
										</div>
									</div>
									<div class="wpb_text_column wpb_content_element  vc_custom_1464180637179">
										<div class="wpb_wrapper">
											<h6><a class="underline after first" style="color: #f5f5f5;" ui-sref="privacy" ng-click="vm.collapseNavbar()">Privacy</a></h6>
										</div>
									</div>
									<div class="wpb_text_column wpb_content_element  vc_custom_1464180245741">
										<div class="wpb_wrapper">
											<h6><a class="underline after first" style="color: #f5f5f5;" ui-sref="tac" ng-click="vm.collapseNavbar()">Term and Conditions</a></h6>
										</div>
									</div>
									<div class="wpb_text_column wpb_content_element  vc_custom_1464180254189">
										<div class="wpb_wrapper">
											<h6><a class="underline after first" style="color: #f5f5f5;" ui-sref="policy" ng-click="vm.collapseNavbar()">Policy</a></h6>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="wpb_column vc_column_container vc_col-sm-3">
							<div class="vc_column-inner ">
								<div class="wpb_wrapper">
									<div class="wpb_text_column wpb_content_element ">
										<div class="wpb_wrapper">
											<h5><span style="color: #808080;">Support</span></h5>
										</div>
									</div>
									<div class="wpb_text_column wpb_content_element  vc_custom_1464180629357">
										<div class="wpb_wrapper">
											<h6><a class="underline after first" style="color: #f5f5f5;" ui-sref="report" ng-click="vm.collapseNavbar()">Report Issue</a></h6>
										</div>
									</div>
									<div class="wpb_text_column wpb_content_element  vc_custom_1464180623216">
										<div class="wpb_wrapper">
											<h6><a class="underline after first" style="color: #f5f5f5;" ui-sref="help" ng-click="vm.collapseNavbar()">Help & FAQ</a></h6>
										</div>
									</div>
									<div class="wpb_text_column wpb_content_element  vc_custom_1464180653084">
										<div class="wpb_wrapper">
											<h6><a class="underline after first" style="color: #f5f5f5;" ui-sref="cs" ng-click="vm.collapseNavbar()">Contact Support</a></h6>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="wpb_column vc_column_container vc_col-sm-3">
							<div class="vc_column-inner ">
								<div class="wpb_wrapper">
									<div class="wpb_text_column wpb_content_element ">
										<div class="wpb_wrapper">
											<h5><span style="color: #808080;">Information</span></h5>
										</div>
									</div>
									<div class="wpb_text_column wpb_content_element  vc_custom_1464180138360">
										<div class="wpb_wrapper">
											<h6><a class="underline after first" style="color: #f5f5f5;" ui-sref="fac" ng-click="vm.collapseNavbar()">Feedback A Course</a></h6>
										</div>
									</div>
									<div class="wpb_text_column wpb_content_element  vc_custom_1464180138360">
										<div class="wpb_wrapper">
											<h6><a class="underline after first" style="color: #f5f5f5;" ui-sref="careers" ng-click="vm.collapseNavbar()">Careers</a></h6>
										</div>
									</div>
									<div class="wpb_text_column wpb_content_element  vc_custom_1464180138360">
										<div class="wpb_wrapper">
											<h6><a class="underline after first scrolly" style="color: #f5f5f5;" href="#about-us" ng-click="vm.aboutUs()">About Us</a></h6>
										</div>
									</div>
									<div class="wpb_text_column wpb_content_element  vc_custom_1464180138360">
										<div class="wpb_wrapper">
											<h6><a class="underline after first" style="color: #f5f5f5;" ui-sref="news" ng-click="vm.collapseNavbar()">News</a></h6>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="wpb_column vc_column_container vc_col-sm-3">
							<div class="vc_column-inner ">
								<div class="wpb_wrapper">
									<div class="wpb_text_column wpb_content_element ">
										<div class="wpb_wrapper">
											<h5><span style="color: #808080;">Social</span></h5>

										</div>
									</div>

									<div class="wpb_text_column wpb_content_element  vc_custom_1464180629357">
										<div class="wpb_wrapper">
											<h6><a href="#"><i class="icon fa fa-facebook" style=" font-size:21px!important; "></i></a></h6>
										</div>
									</div>

									<div class="wpb_text_column wpb_content_element  vc_custom_1464180623216">
										<div class="wpb_wrapper">
											<h6><a href="#"><i class="icon fa fa-linkedin" style=" font-size:21px!important; "></i></a></h6>

										</div>
									</div>

									<div class="wpb_text_column wpb_content_element  vc_custom_1464180653084">
										<div class="wpb_wrapper">
											<h6><a href="#"><i class="icon fa fa-twitter" style=" font-size:21px!important; "></i></a></h6>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_custom_1464180913588  vc_custom_1464180913588">
						<span class="vc_sep_holder vc_sep_holder_l">
							<span style="border-color:#3a3a3a;" class="vc_sep_line"></span>
						</span>
						<span class="vc_sep_holder vc_sep_holder_r">
							<span style="border-color:#3a3a3a;" class="vc_sep_line"></span>
						</span>
					</div>
					<div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1464183589150">
						<div class="wpb_column vc_column_container">
							<div class="vc_column-inner vc_custom_1464183633421">
								<div class="wpb_wrapper">
									<div class="wpb_text_column wpb_content_element  vc_custom_1464182738153">
										<div class="wpb_wrapper">
											<h5>JavaGap<br></h5>
											<h7>Copyright &copy; 2017 javagap.com</h7>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="vc_parallax-inner skrollable skrollable-between footer-background" data-bottom-top="top: -50%;" data-top-bottom="top: 0%;"></div>
	</div>
</div>