<header>
    <h1>Javagap</h1>
    <p>
        Everything you need to know about Java to hit the ground running in today's corporate world.
    </p>
</header>
<ul class="actions" ng-switch="vm.isAuthenticated()">
    <li ng-switch-when="false">
        <a class="button special big" ng-click="vm.register()" style="cursor: pointer;">Get Started</a>
    </li>
    <li ng-switch-when="true">
        <a class="button special big scrolly" href="#services" style="cursor: pointer;">Get Started</a>
    </li>
</ul>