<header>
    <h1>Javagap</h1>
    <p>
        Everything you need to know about Java to hit the ground running in today's corporate world.
    </p>
</header>
<ul class="actions" ng-switch="vm.isAuthenticated()">
    <li ng-switch-when="false">
        <a class="button special big" ng-click="vm.register()" style="cursor: pointer;">Get Started</a>
    </li>
    <li ng-switch-when="true">
        <div class="searchbox">
            <div class="autocomplete">
                <div angucomplete-alt 
                id="course-search" 
                placeholder="Search courses" 
                pause="300" 
                selected-object="selectedcourse" 
                local-data="courses"
                search-fields="name" 
                title-field="name"
                description-field="watchCount"
                minlength="2" 
                input-class="search-input" 
                match-class="selected-bold"
                clear-selected="true">
                </div>
                <i class="outline outline-search"></i>
            </div>
        </div>
        <a class="button special big scrolly" href="#services" style="cursor: pointer;">Our Services</a>
    </li>
</ul>