<div id="about-us" class="pagesection row  light_scheme" style="">
  	<div class="col-md-12">
    	<div class="container">
	      	<div class="slideContent gu12">
		        <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid" style="position: relative; box-sizing: border-box; padding: 90px 0!important;">
		        	<div class="wpb_column vc_column_container vc_col-sm-12">
			        	<div class="vc_column-inner ">
			        		<div class="wpb_wrapper">
								<div class="wpb_text_column">
									<div class="wpb_wrapper">
										<h1 style="text-align: center;">About Us</h1>
									</div>
								</div>
								<div class="wpb_text_column">
									<div class="wpb_wrapper">
										<h3 style="text-align: center;">The best in modern dentistry</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="vc_row-full-width vc_clearfix"></div>
				<div class="vc_row wpb_row vc_row-fluid" style="padding-bottom: 70px!important;">
					<div class="wpb_column vc_column_container vc_col-sm-12">
						<div class="vc_column-inner ">
							<div class="wpb_wrapper">
								<div class="hgr-content-block " style="margin-bottom:2em;">
									<div class="hgr-contb-row">
										<div class="hgr-contblock-icon" style="color:#1b98e0;  ">
											<i class="icon outline outline-id normal-icon-cb" style=" font-size:36px!important; "></i>
										</div>
										<div class="hgr-content" style="padding-left:1em;">
											<h4 style="color:#2d2d2d">WHO WE ARE</h4>
											<p style="color:#848484">Careful attention to detail and clean, well structured code ensures a smooth user experience for all your users.</p>
										</div>
									</div>
								</div>
								<div class="hgr-content-block " style="margin-bottom:2em;">
									<div class="hgr-contb-row">
										<div class="hgr-contblock-icon" style="color:#1b98e0;  ">
											<i class="icon outline outline-medical-kit normal-icon-cb" style=" font-size:36px!important; "></i>
										</div>
										<div class="hgr-content" style="padding-left:1em;">
											<h4 style="color:#2d2d2d">WHAT WE DO</h4>
											<p style="color:#848484">Careful attention to detail and clean, well structured code ensures a smooth user experience for all your users.</p>
										</div>
									</div>
								</div>
								<div class="hgr-content-block " style="margin-bottom:2em;">
									<div class="hgr-contb-row">
										<div class="hgr-contblock-icon" style="color:#1b98e0;  ">
											<i class="icon outline outline-chart-up normal-icon-cb" style=" font-size:36px!important; "></i>
										</div>
										<div class="hgr-content" style="padding-left:1em;">
											<h4 style="color:#2d2d2d">OUR GOAL</h4>
											<p style="color:#848484">Waistcoat forage fingerstache truffaut pickled. 3 wolf moon blog tousled plaid mixtape shoreditch. Celiac photo booth listicle biodiesel, fashion axe retro small batch vegan. Tacos affogato listicle selvage, sriracha scenester church-key vegan chambray franzen keytar.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>
</div>