<div class="vc_column-inner vc_col-sm-6">
	<div class="wpb_wrapper">
		<div style='overflow:hidden;height:600px;width:100%;'>
			<div id='gmap_canvas' style='height:600px;width:100%;'></div>
			<style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
		</div> 
		<a href='https://www.add-map.net/'>google maps html widget</a>
		<script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=cdc9117a76dc37c7dbc5a7165508ebde61caf27a'>			
		</script>
		<script type='text/javascript'>
			function init_map(){var myOptions = {zoom:17,center:new google.maps.LatLng(40.71208499999999,-74.00727),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(40.71208499999999,-74.00727)});infowindow = new google.maps.InfoWindow({content:'<strong>Google Map</strong><br>43 Park Row<br>NY 10038 NEW YORK<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}/*google.maps.event.addDomListener(window, 'load', init_map);*/$(function() {init_map();});
		</script>
	</div>
</div>
<div class="vc_column-inner vc_col-sm-6">
	<div class="wpb_wrapper">
		<div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1475672850216">
			<div class="wpb_column vc_column_container vc_col-xs-6">
				<div class="vc_column-inner ">
					<div class="wpb_wrapper">
						<div class="wpb_text_column wpb_content_element ">
							<div class="wpb_wrapper">
								<h4>Address:</h4>
							</div>
						</div>

						<div class="wpb_text_column wpb_content_element  vc_custom_1475672836573">
							<div class="wpb_wrapper">
								<p>43 Park Row<br>NEW YORK, NY 10038</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="wpb_column vc_column_container vc_col-xs-6">
				<div class="vc_column-inner ">
					<div class="wpb_wrapper">
						<div class="wpb_text_column wpb_content_element ">
							<div class="wpb_wrapper">
								<h4>Phone:</h4>
							</div>
						</div>

						<div class="wpb_text_column wpb_content_element  vc_custom_1475672841892">
							<div class="wpb_wrapper">
								<p>+1-951-365-2811<br>+1-858-435-8184</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="vc_row wpb_row vc_inner vc_row-fluid">
			<div class="wpb_column vc_column_container col-sm-12">
				<div class="vc_column-inner ">
					<div class="wpb_wrapper">
						<div class="wpb_text_column wpb_content_element ">
							<div class="wpb_wrapper">
								<h4>Contact Form:</h4>
							</div>
						</div>

						<div class="wpb_text_column wpb_content_element  vc_custom_1475673035631">
							<div class="wpb_wrapper">
								<div role="form" class="wpcf7" id="wpcf7-f4-o1" dir="ltr" lang="en-US">
									<div class="screen-reader-response"></div>
									<form ng-submit="vm.save()" method="post" class="wpcf7-form" name="form" role="form" novalidate show-validation>
										<p>
											<div class="form-group">
												<input name="name" id="contact_info_name" class="input wpcf7-form-control wpcf7-text wpcf7-validates-as-required iconified empty" placeholder="&#xF120 Name" type="text" ng-model = "vm.contactInfo.name" ng-minlength=1 ng-maxlength=50 ng-pattern="/^[_'.@A-Za-z 0-9-]*$/" required>
												<div ng-show="form.name.$dirty && form.name.$invalid">
								                    <p class="help-block"
								                           ng-show="form.name.$error.required">
								                        Your username is required.
								                    </p>
								                    <p class="help-block"
								                           ng-show="form.name.$error.minlength">
								                        Your username is required to be at least 1 character.
								                    </p>
								                    <p class="help-block"
								                           ng-show="form.name.$error.maxlength">
								                        Your username cannot be longer than 50 characters.
								                    </p>
								                    <p class="help-block"
								                           ng-show="form.name.$error.pattern">
								                        Your username can only contain letters and digits.
								                    </p>
								                </div>
											</div>
											<div class="form-group">
												<input name="email" id="contact_info_email" class="input wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email iconified empty" placeholder="&#xF0E0 Email" type="email" ng-model = "vm.contactInfo.email" ng-minlength=5 ng-maxlength=100 required>
												<div ng-show="form.email.$dirty && form.email.$invalid">
								                    <p class="help-block"
								                           ng-show="form.email.$error.required">
								                        Your e-mail is required.
								                    </p>
								                    <p class="help-block"
								                           ng-show="form.email.$error.email">
								                        Your e-mail is invalid.
								                    </p>
								                    <p class="help-block"
								                           ng-show="form.email.$error.minlength">
								                        Your e-mail is required to be at least 5 characters.
								                    </p>
								                    <p class="help-block"
								                           ng-show="form.email.$error.maxlength">
								                        Your e-mail cannot be longer than 100 characters.
								                    </p>
								                </div>
											</div>
											<div class="form-group">
												<input name="phone" id="contact_info_phone" class="input wpcf7-form-control wpcf7-text wpcf7-validates-as-required iconified empty" placeholder="&#xF095 Phone" type="text" ng-model="vm.contactInfo.phoneNumber" ng-pattern="/^[0-9]{10,10}$/" ng-maxlength=10 required>
												<div ng-show="form.phone.$dirty && form.phone.$invalid">
								                    <p class="help-block"
								                           ng-show="form.phone.$error.required">
								                        Your phone number is required.
								                    </p>
								                    <p class="help-block"
								                           ng-show="form.phone.$error.pattern">
								                        Your phone number is required to be matched pattern.
								                    </p>
								                    <p class="help-block"
								                           ng-show="form.phone.$error.maxlength">
								                        Your phone number cannot be longer than 10 characters.
								                    </p>
								                </div>
											</div>
											<div class="form-group">
												<textarea name="message" id="contact_info_message" rows="4" cols="50" class="input wpcf7-form-control wpcf7-text wpcf7-validates-as-required iconified empty" placeholder="&#xF03C Your Message" type="text" style="resize: none" ng-model = "vm.contactInfo.message" ng-minlength=50 ng-maxlength=1000 required></textarea>
												<div ng-show="form.message.$dirty && form.message.$invalid">
								                    <p class="help-block"
								                           ng-show="form.message.$error.required">
								                        Your message is required.
								                    </p>
								                    <p class="help-block"
								                           ng-show="form.message.$error.minlength">
								                        Your message is required to be at least 50 character.
								                    </p>
								                    <p class="help-block"
								                           ng-show="form.message.$error.maxlength">
								                        Your message cannot be longer than 255 characters.
								                    </p>
								                </div>
											</div>
											<button id="contact_info_btn" class="wpcf7-form-control wpcf7-submit form-button special big" ng-disabled="form.$invalid" type="submit">
												SUBMIT
											</button>
											<img class="ajax-loader" src="../content/images/ajax-loader.gif" alt="Sending ..." style="visibility: hidden;">
										</p>
										<div class="wpcf7-response-output wpcf7-display-none">
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$('.iconified').on('keyup', function() {
	    var input = $(this);
	    if(input.val().length === 0) {
	        input.addClass('empty');
	    } else {
	        input.removeClass('empty');
	    }
	});
	$('#contact_info_btn').on('click', function() {
    	$('#contact_info_name').val('').addClass('empty');
    	$('#contact_info_email').val('').addClass('empty');
    	$('#contact_info_phone').val('').addClass('empty');
    	$('#contact_info_message').val('').addClass('empty');
    });
</script>
