<div class="vc_section" style="padding-bottom: 100px;">
	<div class="vc_row wpb_row vc_row-fluid" style="padding-top: 100px;">
		<div class="wpb_column vc_column_container">
			<div class="vc_column-inner ">
				<div class="wpb_wrapper">
					<div class="wpb_text_column wpb_content_element ">
						<div class="wpb_wrapper">
							<h5 style="text-align: center;">
								<strong>OUR SERVICES</strong>
							</h5>
						</div>
					</div>
					
					<div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_custom_1464180913588  vc_custom_1464180913588">
						<span class="vc_sep_holder vc_sep_holder_l">
							<span style="border-color:#3a3a3a;" class="vc_sep_line"></span>
						</span>
						<span class="vc_sep_holder vc_sep_holder_r">
							<span style="border-color:#3a3a3a;" class="vc_sep_line"></span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="vc_row wpb_row vc_row-fluid vc_column-gap-35 vc_row-o-equal-height vc_row-flex">
		<div class="wpb_column vc_column_container vc_col-sm-4 vc_col-has-fill" ng-repeat="tile in vm.tiles">
			<div class="vc_column-inner vc_custom_box">
				<div class="wpb_wrapper">
					<div class="hgr-icontxt" style=" display:block; margin-left:auto; margin-right:auto;">
						<i ng-class="tile.icon" style=" color:#0a0a0a;  font-size:55px!important;  line-height:55px!important; "></i>
					</div>
					<div class="wpb_text_column wpb_content_element" style="padding-top: 40px;">
						<div class="wpb_wrapper">
							<h2 style="text-align: center;">{{tile.title}}</h2>
						</div>
					</div>

					<div class="wpb_text_column wpb_content_element" style="margin-bottom: 150px">
						<div class="wpb_wrapper">
							<p style="text-align: center;">{{tile.content}}</p>

						</div>
					</div>
					<!--<div class="vc_btn3-container vc_btn3-center" style="padding-top: 40px; padding-buttom: 30px;">-->
					<div class="horizontal-align">
						<a class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-round" onmouseenter="this.style.backgroundColor='#358ed7'; this.style.color='#ffffff'" onmouseleave="this.style.backgroundColor='#ffffff'; this.style.color='#358ed7'" style="border-color: rgb(53, 142, 215); color: rgb(53, 142, 215); background-color: transparent;" ui-sref={{tile.href}} ng-click="vm.navTop()">LERARN MORE  &gt;</a>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	
</div>