<nav class="navbar navbar-default navbar-static-top" ng-switch="vm.isAuthenticated()">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="logo">
      <a class="navbar-brand" href="index.html">JAVAGAP</a>
      <!-- <div angucomplete-alt
        id="course-search"
        placeholder="Search courses"
        pause="500"
        selected-object="selectedProject"
        remote-url="https://api.github.com/search/repositories"
        remote-url-request-formatter="remoteUrlRequestFn"
        remote-url-data-field="items"
        title-field="name"
        description-field="description"
        minlength="2"
        input-class="form-control form-control-small"
        match-class="highlight">
      </div>
      <div angucomplete-alt
        id="course-search"
        placeholder="Search courses"
        pause="500"
        selected-object="selectedProject"
        remote-api-handler="courseSearchFn"
        title-field="prerequisite"
        description-field="about"
        minlength="1"
        input-class="form-control form-control-small"
        match-class="highlight">
      </div> -->
      <div angucomplete-alt 
        id="course-search" 
        placeholder="Search courses" 
        pause="300" 
        selected-object="selectedcourse" 
        local-data="courses"
        search-fields="about" 
        title-field="prerequisite"
        minlength="1" 
        input-class="search-input" 
        match-class="highlight"
        clear-selected="true">
      </div>
    </div>
  </div>
  <div class="navbar-collapse collapse" style="float: right;">
    <ul class="nav navbar-nav">
      <li><a ng-click="vm.home()">HOME</a></li>
      <li><a href="#about-us" class="scrolly" ng-click="vm.aboutUs()">ABOUT US</a></li>
      <li class="dropdown menu-large" dropdown-menu>
        <a class="dropdown-toggle" data-toggle="dropdown">Courses<b class="caret"></b></a>       
        <ul class="dropdown-menu megamenu row">
          <li class="col-sm-3">
            <ul>
              <li class="dropdown-header">DATABASE PROGRAMMING</li>
              <li>
                <a ui-sref="subCategory({category: 'database-programming',subcategory: 'mysql'})" ng-click="vm.collapseNavbar()"><i class="icon fa fa-database"></i>MYSQL</a>
              </li>
              <li>
                <a ui-sref="subCategory({category: 'database-programming',subcategory: 'nosql'})" ng-click="vm.collapseNavbar()"><i class="icon fa fa-file-picture-o"></i>NOSQL</a>
              </li>
              <li>
                <a ui-sref="subCategory({category: 'database-programming',subcategory: 'liquibase'})" ng-click="vm.collapseNavbar()"><i class="icon fa fa-folder-open-o"></i>LIQUIBASE</a>
              </li>
              <li>
                <a ui-sref="subCategory({category: 'database-programming',subcategory: 'orm'})" ng-click="vm.collapseNavbar()"><i class="icon fa fa-list-alt"></i>ORM</a>
              </li>
              <li>
                <a ui-sref="subCategory({category: 'database-programming',subcategory: 'jpa'})" ng-click="vm.collapseNavbar()"><i class="icon fa fa-book"></i>JPA</a>
              </li>
            </ul>
          </li>
          <li class="col-sm-3">
            <ul>
              <li class="dropdown-header">MESSAGING MIDDLEWARE</li>
              <li>
                <a ui-sref="subCategory({category: 'messaging-middleware',subcategory: 'jms'})" ng-click="vm.collapseNavbar()"><i class="icon fa fa-files-o"></i>JMS</a>
              </li>
              <li>
                <a ui-sref="subCategory({category: 'messaging-middleware',subcategory: 'active-mq'})" ng-click="vm.collapseNavbar()"><i class="icon fa fa-tasks"></i>ACTIVE MQ</a>
              </li>
              <li>
                <a ui-sref="subCategory({category: 'messaging-middleware',subcategory: 'tibco-ems'})" ng-click="vm.collapseNavbar()"><i class="icon fa fa-flask"></i>TIBCO EMS</a>
              </li>
              <li>
                <a ui-sref="subCategory({category: 'messaging-middleware',subcategory: 'websphere mq'})" ng-click="vm.collapseNavbar()"><i class="icon fa fa-table"></i>WEBSPHERE MQ</a>
              </li>
            </ul>
          </li>
          <li class="col-sm-3">
            <ul>
              <li class="dropdown-header">CLOUD DEVELOPMENT</li>
              <li>
                <a ui-sref="subCategory({category: 'cloud-development',subcategory: 'aws'})" ng-click="vm.collapseNavbar()"><i class="icon fa fa-amazon"></i>AWS</a>
              </li>
              <li>
                <a ui-sref="subCategory({category: 'cloud-development',subcategory: 'azzure'})" ng-click="vm.collapseNavbar()"><i class="icon fa fa-university"></i>AZZURE</a>
              </li>
              <li>
                <a ui-sref="subCategory({category: 'cloud-development',subcategory: 'gae'})" ng-click="vm.collapseNavbar()"><i class="icon fa fa-recycle"></i>GAE</a>
              </li>
            </ul>
          </li>
          <li class="col-sm-3">
            <ul>
              <li class="dropdown-header">DEVOPS</li>
              <li>
                <a ui-sref="subCategory({category: 'devops',subcategory: 'jenkins'})" ng-click="vm.collapseNavbar()"><i class="icon fa fa-paper-plane"></i>JENKINS</a>
              </li>
              <li>
                <a ui-sref="subCategory({category: 'devops',subcategory: 'ansible'})" ng-click="vm.collapseNavbar()"><i class="icon fa fa-codepen"></i>ANSIBLE</a>
              </li>
              <li>
                <a ui-sref="subCategory({category: 'devops',subcategory: 'chef'})" ng-click="vm.collapseNavbar()"><i class="icon fa fa-line-chart"></i>CHEF</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="dropdown menu-large" dropdown-menu ng-switch-when="true" has-authority="ROLE_ADMIN">
        <a class="dropdown-toggle" data-toggle="dropdown">entities <b class="caret"></b></a>
        <ul class="dropdown-menu normalmenu row">
          <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
          <li><a ui-sref="contact-us" ng-click="vm.collapseNavbar()">Contact Us</a></li>
          <li><a ui-sref="news-subscription" ng-click="vm.collapseNavbar()">News subscription</a></li>
          <li><a ui-sref="course" ng-click="vm.collapseNavbar()">Course</a></li>
          <li><a ui-sref="testimonial" ng-click="vm.collapseNavbar()">Testimonial</a></li>
          <li><a ui-sref="help" ng-click="vm.collapseNavbar()">Help</a></li>
        </ul>
      </li> 
      <li class="dropdown menu-large" dropdown-menu>
        <a class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
        <ul class="dropdown-menu normalmenu row">
            <li><a ui-sref="consulting" ng-click="vm.collapseNavbar()">CONSULTING</a></li>
            <li><a ui-sref="training" ng-click="vm.collapseNavbar()">TRAINING</a></li>
            <li><a ui-sref="education" ng-click="vm.collapseNavbar()">EDUCATION</a></li>
            <li><a ui-sref="blog" ng-click="vm.collapseNavbar()">BLOG</a></li>
            <li><a ui-sref="how-help" ng-click="vm.collapseNavbar()">HELP & FAQ</a></li>
            <li><a href="#contact" class="scrolly" ng-click="vm.contactUs()">CONTACT US</a></li>
        </ul>
      </li>   
      <li class="dropdown menu-large" dropdown-menu ng-switch-when="true" has-authority="ROLE_ADMIN">
        <a class="dropdown-toggle" data-toggle="dropdown">ADMIN<b class="caret"></b></a>
        <ul class="dropdown-menu normalmenu row">
            <li ui-sref-active="active">
                <a ui-sref="user-management" ng-click="vm.collapseNavbar()">User management</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">Metrics</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">Health</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">Configuration</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="audits" ng-click="vm.collapseNavbar()">Audits</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="logs" ng-click="vm.collapseNavbar()">Logs</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="docs" ng-click="vm.collapseNavbar()">API</a>
            </li>
        </ul>
      </li>
      <li class="dropdown menu-large" dropdown-menu ng-switch-when="true" has-authority="ROLE_USER">
        <a class="dropdown-toggle" data-toggle="dropdown">ACCOUNT <b class="caret"></b></a>
        <ul class="dropdown-menu normalmenu row">
            <li ui-sref-active="active">
              <a ui-sref="settings" ng-click="vm.collapseNavbar()">Settings</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="password" ng-click="vm.collapseNavbar()">Password</a>
            </li>
            <li ui-sref-active="active">
              <!-- <a ui-sref="user-management.delete({login:vm.currentAccount.login})">Delete</a> -->
              <a ng-click="vm.disableLoggedUser()">Delete</a>
            </li>
        </ul>
      </li>
      <li ui-sref-active="active" ng-switch-when="true">
          <a ng-click="vm.logout()">Sign out</a>
      </li>
      <li ui-sref-active="active" ng-switch-when="false">
          <a ng-click="vm.login()">SIGN IN</a>
      </li>
      <li ui-sref-active="active" ng-switch-when="false">
          <a ng-click="vm.register()">SIGN UP</a>
      </li>
    </ul>
  </div>
</nav>
<script type="text/javascript">

    $(document).ready(function(){
        $(".navbar-toggle").on('click', function() {
          var navbar = $('.navbar-collapse').parents('nav');
          if(!navbar.hasClass('mobile'))
            navbar.addClass('mobile');
          else
            navbar.removeClass('mobile');
        });

        $(".dropdown-menu li").click(
          function () {
            $(this).parents(".dropdown-menu").stop().fadeOut("fast");
          });
    });

    // tell the embed parent frame the height of the content
    if (window.parent && window.parent.parent){
        window.parent.parent.postMessage(["resultsFrame", {
          height: document.body.getBoundingClientRect().height,
          slug: "ydcMQ"
        }], "*")
    }

</script>