<nav id="menu">
	<ul class="links">
		<li>
			<a href="javascript:window._pxOpen('index.html');" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Home</a>
		</li>
		<li>
			<a href="javascript:window._pxOpen('generic.html');" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Generic</a>
		</li>
		<li>
			<a href="javascript:window._pxOpen('elements.html');" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Elements</a>
		</li>
	</ul>
	<ul class="actions vertical">
		<li>
			<a class="button special fit" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: pointer;">Sign Up</a>
		</li>
		<li>
			<a class="button fit" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: pointer;">Log In</a>
		</li>
	</ul>
	<a href="#menu" class="close" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></a>
</nav>