<header id="header" ui-view="header">
    <!-- Angular views -->
</header>
<div class="wrapper">
    <section id="content">
        <div class="container" ui-view="content">
            <!-- Angular views -->
        </div>
        <div ui-view="course-content">
            <!-- Angular views -->
        </div>
    </section>
</div>
<footer id="footer" ui-view="footer" ng-cloak>
    <!-- Angular views -->
</footer>
<script type="text/javascript">
    (function($) {
        $(function() {
            global.is_front_page = 'false';
            var $header = $('#header');
            if($header.hasClass('with-banner'))
                $header.removeClass('with-banner');
            if($header.hasClass('alt'))
                $header.removeClass('alt');
            $('.scrolly').scrolly();
        });    
    })(jQuery);
</script>