<header id="header" ui-view="header">
    <!-- Angular views -->
</header>
<section id="banner">
    <div class="inner" ui-view ="banner">
        <!-- Angular views -->
    </div>
    <a href="#services" class="more">Learn More</a>
    <video autoplay loop>
        <source src="content/videos/home-bg-video.mp4" type="video/mp4"></source>
        <source src="content/videos/home-bg-video.webm" type="video/webm"></source>
        <source src="content/videos/home-bg-video.ogv" type="video/ogg"></source>
        <source src="content/videos/home-bg-video.m4v"></source>
    </video>
</section>
<div class="wrapper">
    <section id="services" class="light_scheme">
        <div ui-view="services" class="container">
            <!-- Angular views -->
        </div>
    </section>
    <section id="testimonials" class="dark_scheme">
        <div ui-view="testimonials">
            <!-- Angular views -->
        </div>
    </section>
    <section id="about-us" class="light_scheme">
        <div ui-view="aboutUs">
            <!-- Angular views -->
        </div>
    </section>
    <section id="cta" class="main special">
        <div class="" ui-view="join">
            <!-- Angular views -->
        </div>
    </section>
    <section id="contact" class="">
        <div class="" ui-view="contact">
            <!-- Angular views -->
        </div>
    </section>
</div>
<footer id="footer" ui-view="footer" ng-cloak>
    <!-- Angular views -->
</footer>
<script type="text/javascript">
    (function($) {
        $(function() {
            global.is_front_page = 'true';
            var $banner = $('#banner'),$header = $('#header');
            if ($banner.length > 0) {
                $banner.find('.more').addClass('scrolly');
                $header.addClass('with-banner').addClass('alt');
                $banner.scrollex({
                    mode: 'top',
                    top: '-100vh',
                    bottom: 10,
                    enter: function() {
                        $header.addClass('alt');
                    },
                    leave: function() {
                        $header.removeClass('alt');
                    }
                });
            }
            $('.scrolly').scrolly();
        });    
    })(jQuery);
</script>