<header id="header" ui-view="header">
    <!-- Angular views -->
</header>
<section id="banner">
    <div class="inner" ui-view ="banner">
        <!-- Angular views -->
    </div>
    <a href="#services" class="more">Learn More</a>
    <!-- <video autoplay loop>
        <source src="content/videos/hero.m4v" type="video/mp4"></source>
        <source src="content/videos/hero.webm" type="video/webm"></source>
        <source src="content/videos/hero.ogv" type="video/ogg"></source>
        <source src="content/videos/hero.mp4"></source>
    </video> -->
    
    <iframe  allowfullscreen="1" src="https://www.youtube.com/embed/-7v0OMZDyGE?playlist=-7v0OMZDyGE&iv_load_policy=3&enablejsapi=1&disablekb=1&autoplay=1&controls=0&showinfo=0&rel=0&loop=1&wmode=transparent&origin=http%3A%2F%2Fhighgradelab.com&widgetid=1" style="max-width: 1000%; margin-left: 0px; margin-top: -100px; width: 2005px; height: 1052px;" width="100%" height="100%" frameborder="0"></iframe>
</section>
<div class="wrapper">
    <!--<section id="course">
        <div ui-view="lecture">
             Angular views 
        </div>
    </section>-->
    <section id="services" class="light_scheme">
        <div ui-view="services" class="container">
            <!-- Angular views -->
        </div>
    </section>
    <section id="testimonials" class="dark_scheme">
        <div ui-view="testimonials">
            <!-- Angular views -->
        </div>
    </section>
    <section id="about-us" class="light_scheme">
        <div ui-view="aboutUs">
            <!-- Angular views -->
        </div>
    </section>
    <section id="cta" class="main special">
        <div class="" ui-view="join">
            <!-- Angular views -->
        </div>
    </section>
    <section id="contact" class="">
        <div class="" ui-view="contact">
            <!-- Angular views -->
        </div>
    </section>
</div>
<footer id="footer" ui-view="footer" ng-cloak>
    <!-- Angular views -->
</footer>
<script type="text/javascript">
    $(function() {
        global.is_front_page = 'true';
        var $banner = $('#banner'),$header = $('#header');
        if ($banner.length > 0) {
            $banner.find('.more').addClass('scrolly');
            $header.addClass('with-banner').addClass('alt');
            $banner.scrollex({
                mode: 'top',
                top: '-100vh',
                bottom: 10,
                enter: function() { 
                    $header.addClass('alt');
                },
                leave: function() { 
                    $header.removeClass('alt'); 
                }
            });
        }
        $('.scrolly').scrolly(); 
    });
</script>